<section class="card">{{!-- 1 --}}
{{card-header selectedUser=selectedUser}}
<div class="grid">
    {{card-list selectedUser=selectedUser users=users}}
    {{card-cell selectedUser=selectedUser}}
</div>
</section>
